:root {
   --dscr-position: 15px;
}
html {
   height: 100%;
}
body {
   background: linear-gradient(to top, #09203f 0%, #537895 100%);
   font-size: 18px;
   line-height: 1.75;
   color: #fff;
   margin: 0;
}
h1 {
   font-size: 60px;
   margin: 0;
}
h3 {
   font-size: 36px;
   line-height: 1.2;
   text-transform: capitalize;
   margin: 0;
   color: #000;
}
.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   padding-top: 70px;
}
.intro p {
   margin: 0;
   font-size: 20px;
}
.product-gallery {
   display: flex;
   gap: 5px;
   padding: 20px;
}
.product {
   height: 70vh;
   background-size: cover;
   background-position: center;
   flex: 1;
   position: relative;
}
.product-dscr,
.price {
   position: absolute;
   left: var(--dscr-position);
   background-color: #fff;
}
.product-dscr {
   top:  var(--dscr-position);
   padding: 30px;
   width: 65%;
}
.details {
   margin: 5px 0 0 0;
   color: #000;
}
.price {
   font-size: 30px;
   font-weight: bold;
   bottom:  var(--dscr-position);
   margin: 0;
   padding: 10px 26px;
   color: #000;
}
.item-1 {
   background-image: url(images/item-1.jpg);
}
.item-2 {
   background-image: url(images/item-2.jpg);
}
.item-3 {
   background-image: url(images/item-3.jpg);
}
.item-4 {
   background-image: url(images/item-4.jpg);
}
.item-5 {
   background-image: url(images/item-5.jpg);
}
.item-6 {
   background-image: url(images/item-6.jpg);
}
.selected {
   flex: 2.5;
   transition: all 400ms ease-out;
}