:root {
   --dscr-position: 15px;
}
body {
   background: linear-gradient(to top, #09203f 0%, #7da4c2 100%);
   height: 100%;
   font-size: 18px;
   line-height: 1.6;
   color: #fff;
   margin: 0;
   font-family: "Cardo", serif;
}
h1,
h2,
h3 {
   font-weight: 400;
}
h1 {
   font-size: 64px;
   margin: 0;
}
h2 {
   font-size: 48px;
   margin: 0 0 20px 0;
}
h3 {
   font-size: 36px;
   line-height: 1.2;
   text-transform: capitalize;
   margin: 0;
   color: #000;
}
.intro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   padding-top: 75px;
}
.intro p {
   margin: 0;
   font-size: 20px;
}
.product-gallery {
   display: flex;
   gap: 5px;
   padding: 10px;
}
.product {
   height: 70vh;
   background-size: cover;
   background-position: center;
   flex: 1;
   position: relative;
}
.product-dscr,
.price {
   position: absolute;
   left: var(--dscr-position);
   background-color: #fff;
}
.product-dscr {
   top: var(--dscr-position);
   padding: 30px;
   width: 70%;
   opacity: 0;
}
.details {
   margin: 8px 0 0 0;
   color: #000;
}
.price {
   font-size: 30px;
   bottom: var(--dscr-position);
   margin: 0;
   padding: 10px 26px;
   color: #000;
   opacity: 0;
}
.item-1 {
   background-image: url(images/item-1.jpg);
}
.item-2 {
   background-image: url(images/item-2.jpg);
}
.item-3 {
   background-image: url(images/item-3.jpg);
}
.item-4 {
   background-image: url(images/item-4.jpg);
}
.item-5 {
   background-image: url(images/item-5.jpg);
}
.item-6 {
   background-image: url(images/item-6.jpg);
}
.selected {
   flex: 2.5;
   transition: all 350ms ease-out;
}
.selected .product-dscr,
.selected .price {
   transition: all 200ms ease-in;
   opacity: 1;
}
.contact {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 60px 0 90px 0;
}
form {
   display: flex;
   flex-direction: column;
}
.input-email,
.input-message {
   border: none;
   width: 600px;
   padding: 15px 20px;
   font-family: "Cardo", serif;
   font-size: 17px;
}
.input-email,
.input-message {
   margin-bottom: 10px;
}
.input-message {
   height: 120px;
}
.btn {
   font-family: "Cardo", serif;
   font-size: 20px;
   border: 2px solid #fff;
   color: #fff;
   background: none;
   padding: 12px 30px;
   flex: 1;
   cursor: pointer;
}
.btn:hover {
   background: #eee8a9;
   color: #000;
   border: 2px solid #eee8a9;
   transition: all 450ms ease-in-out;
}
footer {
   height: 50px;
   background: #071830;
   color: #fff;
   padding: 8px;
   font-size: 16px;
   text-align: center;
}
.webLink {
   color: #fff;
   text-decoration: none;
}
.authorLink {
   color: #8ec5fc;
   text-decoration: none;
}
.webLink:hover {
   color: #fff;
}
.authorLink:hover {
   color: #eee8a9;
}
